In [2]:
from supabase import create_client
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()
supabase_url = os.getenv("url")
supabase_key = os.getenv("key")
supabase = create_client(supabase_url, supabase_key)
data=supabase.table("titanic_data").select("*").execute()
df=pd.DataFrame(data.data)
df.head()
df.info()
df.isnull().sum()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               891 non-null    int64
 1   survived         891 non-null    int64
 2   pclass           891 non-null    int64
 3   sex              891 non-null    object
 4   age              891 non-null    float64
 5   sibsp            891 non-null    int64
 6   parch            891 non-null    int64
 7   fare             891 non-null    float64
 8   embarked         891 non-null    object
 9   embark_town      891 non-null    object
 10  class            891 non-null    object
 11  who              891 non-null    object
 12  adult_male       891 non-null    bool
 13  deck             891 non-null    object
 14  alive            891 non-null    object
 15  family_size      891 non-null    int64
 16  is_child         891 non-null    int64
 17  fare_per_person  891 non-null    float64
 18  alone            891 non-null    bool
dtypes: bool(2), float64(3), int64(7), object(7)
memory usage: 120.2+ KB

Index(['id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'embark_town', 'class', 'who', 'adult_male', 'deck',
       'alive', 'family_size', 'is_child', 'fare_per_person', 'alone'],
      dtype='object')